/* =========== Fonts =========== */
@font-face {
	font-family: 'Proxima Nova Th';
	src: url('ProximaNovaT-Thin.eot');
	src: local('Proxima Nova Thin'), local('ProximaNovaT-Thin'),
		url('../fonts/ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNovaT-Thin.woff2') format('woff2'),
		url('../fonts/ProximaNovaT-Thin.woff') format('woff'),
		url('../fonts/ProximaNovaT-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova';
	src: url('ProximaNova-Regular.eot');
	src: local('Proxima Nova'), local('ProximaNova'),
		url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
		url('../fonts/ProximaNova-Regular.woff') format('woff'),
		url('../fonts/ProximaNova-Regular.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova Bold';
	src: url('ProximaNova-Bold.eot');
	src: local('Proxima Nova Bold'), local('ProximaNova'),
		url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
		url('../fonts/ProximaNova-Bold.woff') format('woff'),
		url('../fonts/ProximaNova-Bold.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: "Proxima Nova Extrabld";
	src: url('ProximaNova-Extrabld.eot');
	src: local('Proxima Nova Bold'), local('ProximaNova'),
		url('../fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Extrabld.woff2') format('woff2'),
		url('../fonts/ProximaNova-Extrabld.woff') format('woff'),
		url('../fonts/ProximaNova-Extrabld.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

/* =========== Variables =========== */
$label-bg-success: #22b14c;
$headings: #000000;
$text-light: #ccd4e8;
$golden-star: #ff8716;
$btn-bg: #1db2ef;
$primary: #283860;
$text-copyright: #676f82;
$text-secondary: #647191;
$input-bd: #cdd3e1;
$bdrs: 16px;

/* =========== Common =========== */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body{
	// width: 100%;
	height: 100%; 
	color: $primary;
	font-family: 'Proxima Nova', Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 25px;
	font-weight: 400;
	// background-image: url('../img/layout/landing_page.psd.png');
 }

/* =========== Utilities =========== */
.hidden { display: none !important; }
.container {
	width: 1140px;
	max-width: 100%;
	margin: 0 auto;
}
.img-responsive {
	max-width: 100%;
	height: auto;
	display: inline-block;
}
.btn {
	display: inline-block;
	padding: 0px 56px;
	font-size: 18px;
	line-height: 55px;
	font-weight: 400;
	text-decoration: none;
	text-align: center;

	border-radius: 55px;

	cursor: pointer;
}
.btn-primary {
	color: #ffffff;
	box-shadow: 0 2px 30px rgba(29, 178, 239, 0.15);
	background-color: $btn-bg;
	background-image: linear-gradient(to top, #38c3fc 0%, $btn-bg 100%);
}
.btn-secondary {
	color: $btn-bg !important;
	box-shadow: 0 2px 30px rgba(29, 178, 239, 0.15);
	background-color: #ffffff;
	color: $btn-bg;
}
section { padding: 40px 0px 80px 0; width: 100%; box-sizing: border-box; }

.title{
	color: #000000;
	font-size: 35px;
	font-family: "Proxima Nova Extrabld";
	font-weight: 400;
	line-height: 70px;

	position: relative;
	margin-bottom: 45px;

	&:after {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		width: 40px;
		height: 3px;
		background-color: $btn-bg;
	}
}

/* 
 * Page elements
 */

/* =========== Main nav */
.header {
	width: 100%;
	position: fixed; top: 0; left: 0;
	z-index: 2;

	background-color: #fff;

	&:after {
		content: '';
		width: 100%; height: 100%;
		position: absolute;
		top: 0; left: 0;
		display: block;
	}


	&__body {
		height: 116px;
		max-height: 116px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo {
		flex: 0 0 25%;
	}

	&__burger { display: none; }

	&__nav, &__menu { flex: 0 1 auto; 
			transition: all 0.3s ease-out;}
	
	&__list {
		display: flex;
		align-items: center;
		padding-left: 0;
		
		li { list-style-type: none; margin-right: 20px; }
		li:last-child { margin-right: 0px; }
		
		a {
			font-size: 24px;
			text-decoration: none;
		}
	}
}
@media ( max-width: 767px ) {

	body.active { overflow: hidden; } // to prevent body scrolling on burger menu active

	section { padding: 20px 40px 20px 40px; }
	
	// ====== TMP: For 320px viewport
	section { padding: 20px; }
	// ====== ! TMP

	.header{
		z-index: 5;


		&__body { 
			height: 80px;
			padding: 0 15px; 
			position: relative;
		}

		&__logo {
			z-index: 4;
			flex: 0 0 50%;
		}
		
		&__burger {
			display: flex;
			flex-direction: column;
			align-items: center;

			z-index: 4;

			width: 53px;
			height: 25px;
			position: relative;
			cursor: pointer;

			span {
				display: block;
				width: 53px; height: 5px;
				border-radius: 5px;
				background-color: $btn-bg;

				position: absolute;
				top: 10px; right: 0;

				transition: all 0.3s ease-out;
			}
			&:before,
			&:after {
				content: '';
				display: block;
				width: 39px; height: 5px;
				border-radius: 5px;
				background-color: $btn-bg;

				position: absolute;
				right: 0;

				transition: all 0.3s ease-out;
			}
			&:after { top: 20px; }

			&.active {
				span { transform: scale( 0 ); }
				&:before { transform: rotate( 45deg ); top: 9px; background-color: #fff; }
				&:after { transform: rotate( -45deg ); top: 9px; background-color: #fff; }
			}

		}

		&__menu { 
			padding: 0 15px;

			position: fixed;
			top: -200%;	left: 0;
			width: 100%; height: 100%;
			padding-top: 116px;
			overflow: auto; // to make menu scrollable
			background-color: $btn-bg;

			transition: all 0.3s ease-out;

			&.active { top: 0; z-index: 3; }
		}

		&__list {
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;

			height: 100%; 
			margin-top: 0;
			
			li { margin-right: 0px; }
			li:last-child { }
			
			a {
				display: block;
				width: 100%;
				margin-bottom: 20px;

				color: #fff;

				&.btn {
					padding: 0 25px;
					justify-self: flex-end;
				}
				&.btn-primary { margin-top: 35px; }
			}
		}
	}
}


/* =========== Top banner */
.top-banner {
	height: 100vh;
	max-height: 100vh;
	padding-top: 116px;

	box-sizing: border-box;

	display: flex;
	justify-content: flex-end;
	
	background-image: url( '../img/main-img.png' );
	background-repeat: no-repeat;
	background-position: right top;
	-webkit-background-size: 50%;
	background-size: 50%;

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		height: 100%;

		&_header {
			margin-bottom: 50px
		}
		
		.h1 {
			max-width: 508px;
			font-size: 50px;
			font-weight: 700;
			line-height: 60px;
			margin-bottom: 26px;
		}
		.p {
			width: 393px;
			color: $text-secondary;
			font-size: 25px;
			font-weight: 400;
			line-height: 35px;
		}
		
		.stars {
			text-align: center;
		}
		.more-reviews {
			max-width: 936px;
			color: #212529;
			font-size: 45px;
			font-weight: 700;
			line-height: 70px;
		}
	}
}
.bg-img { display: none; }

@media ( max-width: 767px ) {
	.top-banner {
		height: auto;
		max-height: 1050px;
		padding: 0;
		padding-top: 80px;

		margin: 0;
		margin-bottom: 60px;

		background-image: none;

		&__content {
			text-align: center;

			&_header{
				height: 100vh;
				margin: 0 auto 70px auto;
				padding-top: 56px;

				position: relative;
				z-index: 1;

				background-image: url( '../img/main-img.png' );
				background-position: center center;
				background-size: cover;			

				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 0; left: 0;
					width: 100%; height: 100%;
					background-color: #000;
					opacity: 0.5;
				}

				.h1 {
					max-width: 100%;
					font-size: 50px;
					line-height: 60px;
					margin-bottom: 60px;

					position: relative;
					z-index: 1;

					color: #fff;
				}
				.p { color: #ffffff; width: 90%; margin: 0 auto; letter-spacing: 1px; 
					position: relative;
					z-index: 1; 
				}
			}

			.stars svg {
				width: 45px !important;
			}
		}
	}
}

/* =========== Reviews */
.get-reviews {
	background-color: #fafbfc;

	&__title {
		text-align: center;

		&:after {
			left: 50%;
			transform: translateX( -50% );
		}
	}

	&__content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0 -12px;
	}

	&__column {
		flex: 1 0 auto;
		padding: 0 12px;
		margin-bottom: 100px;

		&:last-of-type { 
			transform: translateX( 25% ); 
			flex: 0 0 63%; 
		}
		&_title {
			display: flex;
			color: $primary;
			font-size: 24px;
			line-height: 48px;
			font-family: "Proxima Nova Bold";

			margin-bottom: 45px;

			span {
				display: flex;
				justify-content: center;
				align-items: center;

				width: 50px;
				height: 50px;
				border-radius: 50%;
				margin-right: 16px;
				
				color: $btn-bg;
				font-family: "Proxima Nova Extrabld";
				font-size: 35px;
				font-weight: 400;
				line-height: 70px;

				background-color: rgba( $btn-bg, 0.1 );

			}
		}
	}
	&__column_title {
	}
	&__column-body {
	}
}
.pseudo-input {
	margin-bottom: 40px;

	&__label {
		color: $text-secondary;
		font-size: 18px;
		font-weight: 700;
		line-height: 48px;
	}
	&__input {
		width: 480px;
		max-width: 100%;
		padding: 0 25px;
		margin-bottom: 45px;
		border: 1px solid $input-bd;
		border-radius: $bdrs;
		background-color: #ffffff;
		
		color: $btn-bg;
		font-size: 24px;
		font-weight: 700;
		line-height: 80px;
	}
	&__link { color: $btn-bg; text-decoration: underline; text-decoration-color: $text-light; cursor: pointer; }
	&__area {

		width: 480px;
		max-width: 100%;
		padding: 0 25px;
		margin-bottom: 15px;
		
		border: 1px solid $input-bd;
		border-radius: $bdrs;
		background-color: #ffffff;
		
		font-size: 20px;
		line-height: 30px !important;
		color: #000;
	}
	&__comment {
		color: $primary;
		font-size: 18px;
		font-weight: 400;
		line-height: 40px;

		img { margin-right: 10px; }
	}
}

@media ( max-width: 767px ) {
	.get-reviews {
		&__column {
			flex: 1 0 100%;
			padding: 0 12px;
			margin-bottom: 100px;

			&:first-of-type .send-request { text-align: center; }
			&:last-of-type { 
				transform: translateX( 0% ); 
				flex: 0 0 100%; 

				.get-reviews__column_title { justify-content: center; }
			}
			&:nth-child( 2 ) {

				.get-reviews__column_title { justify-content: center; }
				.get-reviews__column-body { text-align: center; }

			}
			&_title {
				display: flex;
				color: $primary;
				font-size: 24px;
				line-height: 48px;
				font-family: "Proxima Nova Bold";

				margin-bottom: 45px;

				span {
					display: flex;
					justify-content: center;
					align-items: center;

					width: 50px;
					height: 50px;
					border-radius: 50%;
					margin-right: 16px;
					
					color: $btn-bg;
					font-family: "Proxima Nova Extrabld";
					font-size: 35px;
					font-weight: 400;
					line-height: 70px;

					background-color: rgba( $btn-bg, 0.1 );

				}
			}
		}
	}

	.pseudo-input {
		&__input,
		&__area {
			width: 100%;
			max-width: 100%;
		}
	}
}

.panel {
	border: 1px solid $input-bd;
	border-radius: $bdrs;
	overflow: hidden;

	.panel-heading {
		padding: 40px;
		box-shadow: 0 2px 30px rgba(29, 178, 239, 0.15);
		background-color: $primary;
		background-image: linear-gradient(to top, #38c3fc 0%, $btn-bg 100%);

		.rate-review {
			display: flex;
			justify-content: space-between;
		}
		.rate {
			color: #ffffff;
			font-size: 25px;
			font-weight: 700;
			line-height: 48px;
		}
		.google {
			color: #ffffff;
			font-size: 13px;
			font-weight: 700;
			line-height: 40px;
		}
		.neibour {
			color: #ffffff;
			font-size: 18px;
			font-weight: 400;
			line-height: 48px;
		}
	}
	.panel-body {
		padding: 40px;
		padding-bottom: 0;
		background-color: #fff;
	}
	.panel-footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 40px;
		background-color: #fff;

		&__btns {}
		&__comment {
			font-family: "Proxima Nova";
			font-size: 16px;
			font-weight: 400;
			line-height: 32px;
			/* Text style for "Learn More" */
			
			a {
				color: $btn-bg;
				text-decoration: underline;
				text-decoration-color: $text-light;
			}
		}
		&__google {}
	}
}
.rate-review {
}
.rate {
}
.google {
}
.neighbor {
	color: #ffffff;
	font-size: 18px;
	line-height: 48px;
}
.person {
	display: flex;
	align-items: center;
	margin-bottom: 80px;

	&__card {
		flex: 1 0 auto;

		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;

		align-items: center;

		img { margin-right: 8px; }
	}
	&__name {
		color: $primary;
		font-size: 18px;
		font-weight: 700;
		line-height: 32px;
	}
	&__rating {
		flex: 0 0 auto;

	}
}
.person-input {
	color: #95aab2;
	font-family: "Proxima Nova";
	font-size: 16px;
	font-weight: 400;
	line-height: 48px;

	border-bottom: 1px solid #95aab2;
}
.btn-set {
	margin-bottom: 45px;

	.btn { margin-right: 15px; 
		&:last-of-type { margin-right: 0px; }
	}
}

/* =========== Monitor All Your Reviews */
.monitor-reviews {
}
.monitor-reviews__wrapper {
	display: flex;
	margin: 25px 0;

	.monitor-reviews__title-col {
			flex: 0 0 30%;

			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;
			padding: 0 25px;

		.monitor-reviews__title {
			color: #000000;
			font-family: "Proxima Nova Extrabld";
			font-size: 50px;
			font-weight: 400;
			line-height: 60px;

			position: relative;

			&:after {
				content: '';
				display: block;
				position: absolute;
				bottom: 0;
				width: 40px;
				height: 3px;
				background-color: $btn-bg;
			}
		}
	}
	.reviews {
		flex: 1 0 70%;
			padding: 0 25px;
	}
}
.review-item {
	border-radius: $bdrs;
	padding: 20px 40px 25px 90px;
	margin-bottom: 40px;
	box-shadow: 0 2px 30px rgba(29, 178, 239, 0.15);
	background-color: #ffffff;

	.review__header{
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
	}

	&__author {
		display: flex;
		position: relative;
	}
		
	&__person {
		margin-right: 15px;
	}
	&__image {
		position: absolute;
		left: -60px;
	}
		
	&__name {
		color: #283860;
		font-family: "Proxima Nova";
		font-size: 18px;
		font-weight: 700;
		line-height: 32px;
	}
	&__rating {
	}
	&__btn {
	}


	&__label span{
		display: block;
		margin-top: 5px;
		padding: 0 10px;
		background-color: #22b14c;

		color: #ffffff;
		font-family: "Proxima Nova";
		font-size: 13px;
		font-weight: 700;
		line-height: 20px;
	}
}
.review {
	&__header {
	}
	&__body {
		color: #283860;
		font-size: 16px;
		font-weight: 400;
		line-height: 25px;
	}
}

@media ( max-width: 767px ) {
	.monitor-reviews__wrapper {
		display: block;

		.monitor-reviews__title-col {
				flex: 1 0 auto;
				justify-content: center;
				margin-bottom: 40px;

				// padding: 0 25px;

			.monitor-reviews__title {
				flex: 0 0 45%;
				font-size: 40px;
				line-height: 54px;
				text-align: center;

				&:after {
					display: none;
				}
			}
		}
		.reviews {
			flex: 1 0 auto;
			// padding: 0 25px;
		}
	}
	.review {
		&__header {
			flex-wrap: wrap;
		}
		&__body {
			color: #283860;
			font-size: 16px;
			font-weight: 400;
			line-height: 25px;
		}
	}
}
@media ( min-width: 320px ) {
	.monitor-reviews__wrapper {
		.monitor-reviews__title-col {
			.monitor-reviews__title {
				flex: 1 0 65%;
			}

		}

	}
}
/* ============ FP video swction */
.how-it-works {
		text-align: center;
	&__title {

		&:after {
			left: 50%;
			transform: translateX( -50% );
		}
	}
}
.video {
	cursor: pointer;
}

/* ============= Site footer */
.footer {
	padding-top: 130px;
	// background-color: $primary;
	color: #fff;
	// background:transparent url('../img/footer_bg.jpg') left top no-repeat;
	background:transparent url('../img/footer_bg.svg') left top no-repeat;
	background-size: cover;


	ul { padding: 0; margin: 0; }
	li { list-style: none; padding: 0; margin: 0; }
	a { color: $text-light; text-decoration: none; 
		color: $text-light;
		font-family: "Proxima Nova";
		font-size: 15px;
		font-weight: 400;
		line-height: 45px;
	}

	&__row {
	}
	&__col {
	}

	&__logo {
	}
	&__nav {
		display: flex;
		justify-content: space-between;
		margin-bottom: 50px;
	}
	&__col_title {
		color: #ffffff;
		font-family: "Proxima Nova";
		font-size: 20px;
		font-weight: 700;
		line-height: 30px;
	}
}
.social-contacts {
	display: flex;
	justify-content: center;
	margin-bottom: 75px;

	a {
		padding-right: 17px;
	}
	a:last-child { padding-right: 0; }
}
.soc-icon {
}
.copyright {
	display: flex;
	align-items: center;
	height: 60px;
	color: $text-copyright;
	font-family: "Proxima Nova";
	font-size: 15px;
	font-weight: 400;
	line-height: 30px;
	background-color: #fafbfc;
	
	&__body {
		display: flex;
		justify-content: space-between;
	}

	a{ color: $text-copyright; }
	
	&-text { 
		color: $text-copyright; 
		display: flex;
	    align-items: center;
	}
	.footer-logo {
		display: flex;
		align-items: center;
		height: 100%;
	}
}
.privacy {
	color: $text-copyright;
	font-family: "Proxima Nova";
	font-size: 15px;
	font-weight: 400;
	line-height: 30px;

	a {
		margin-right: 20px;
		position: relative;

		&:after {
			display: inline-block;
			content: ' | ';
			position: absolute;
			font-size: 18px;
			right: -13px;
		}		
	}
	a:last-child {
		&:after { content: ''; }

	}
}
@media ( max-width: 767px ) {
	.footer {
		padding-bottom: 44px;
		background-image: none;
		background-color: $primary;

		&__nav {
			padding-left: 20px;
			padding-right: 20px;
			flex-wrap: wrap;
		}

		&__col {
			flex: 1 0 50%;
			margin-bottom: 66px;
		}
	}

	.copyright {
		font-size: 15px;

		padding-left: 20px;
		padding-right: 20px;

		background-color: transparent;
		
		&__body {
			flex-wrap: wrap;
			justify-content: flex-start;
		}

		a{ color: $text-copyright; }
		
		&-text { 
			flex: 1 0 100%;
			color: #fff !important;
		    align-items: center;
		}
		.footer-logo { display: none; }
	}

	.privacy a {
		color: #fff;
	}
}


/* 
 * Blog page
 */
.blog-banner {
	padding-top: 200px;
	color: #fff;
	background: $primary url( '../img/blog_banner.jpg' ) center center / cover no-repeat;
	position: relative;

	&:after {
		content: '';
		position: absolute;
		top: 0; left: 0;
		width: 100%; height: 100%;
		background-color: #000;
		opacity: 0.75;
	}

	&__body {
		position: relative;
		z-index: 1;
		padding: 150px 0;
		text-align: center;
	}
	&__title {
		max-width: 651px;
		font-size: 70px;
		font-weight: 700;
		line-height: 80px;

		margin: 0 auto;
	}
	&__descr {
		max-width: 750px;
		font-size: 20px;
		line-height: 35px;

		margin: 0 auto;
	}
}

/* ============ Trending Posts */
.trending-posts {
	&__title {
		text-align: center;
	}
	&__content {
	}
	&__slider {
	}
	&__item {
		flex: 1 0 33.333%;
		padding: 22px;
	}
	.title {
		&:after {
			left: 50%;
			transform: translateX( -50% );
		}
	}
}
.slider {
	display: flex;
	margin: 0 -22px;
}
.thumbnail {
	&__img { border-radius: 16px; }
	&__body {
		width: 89%;
		margin: 0 auto;
		padding: 25px;
		border-radius: 16px;

		background-color: #fff;
		box-shadow: 0 2px 30px rgba(29, 178, 239, 0.15);

		position: relative;
		margin-top: -125px;
	}
	&__descr {
		color: #000000;
		font-family: "Proxima Nova Bold";
		font-size: 20px;
		font-weight: 700;
		line-height: 32px;

		margin-bottom: 20px;
	}
	&__footer {
		display: flex;

		&_img { 
			margin-right: 10px; 
			display: flex;
			align-items: center;
		}
		&_body {
			display: flex;
			flex-direction: column;			
			justify-content: space-around;
		}
		&_name {
			color: $primary;
			font-family: "Proxima Nova Bold";
			font-size: 16px;
			line-height: 32px;
		}
		&_date {
			color: $primary;
			font-family: "Proxima Nova";
			font-size: 13px;
			font-weight: 400;
			line-height: 32px;
		}
	}
}


.topics {

	&__wrapper {
		display: flex;
		margin: 0 -20px;

	}
	&__list {
		padding: 50px 10px 50px 40px;
		background-color: $btn-bg;
		border-radius: 16px;
	}
	&__list_item {
		color: #fff;
		font-family: "Proxima Nova Bold";
		font-size: 17px;
		line-height: 70px;

		&:after {
			content: '>';
			margin-left: 20px;
		}
	}	

	ul { list-style-type: none;  }

	a {
		text-decoration: none;
	}
}
.browse-topics {
	flex: 1 0 35%;
	padding: 0 20px;

	&__title {
	}
}
.latest-topics {
	flex: 1 0 65%;
	padding: 0 20px;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__title {
	}
	&__readmore {
		margin-bottom: 45px;

		a {
			color: $primary;
			font-family: "Proxima Nova Bold";
			font-size: 16px;
			line-height: 25px;
			text-decoration: underline;

		}
	} 
	&__body {
	}
	&__item {
		border: 1px solid $input-bd;
		border-radius: 16px;
	}
}
.media-object {
	margin-bottom: 30px;

	&__link {
		display: flex;
	}
	&__header {
		flex: 1 0 auto;
		font-size: 0;
	}
	&__body {
		padding: 25px;
	}
	&__date {
		color: $primary;
		font-size: 13px;
		// line-height: 32px;

		margin-bottom: 24px;
	}
	&__title {
		height: 46px;
		color: #000000;
		font-family: "Proxima Nova Bold";
		font-size: 20px;
		line-height: 22px;

		margin-bottom: 15px;
	}
	&__text {
		color: $primary;
		font-family: "Proxima Nova";
		font-size: 16px;
		line-height: 20px;
	}
}

/* ============== Blog CTA */
.blog-cta {
	position: relative;
	z-index: 1;
	padding: 90px 50px 115px 50px;
	background: $primary url( '../../img/blog_cta.jpg' ) center center / cover no-repeat;

	color: #fff;
	text-align: center;

	&:after {
		content: '';
		position: absolute; top: 0; left: 0;
		z-index: -1;
		width: 100%; height: 100%;
		background-color: $btn-bg;
		opacity: 0.75;
	}

	&__label {
		display: flex;
		justify-content: center;

		margin-bottom: 44px;
	}
	&__slogan {
		font-family: "Proxima Nova Extrabld";
		font-size: 75px;
		line-height: 100px;

		margin-bottom: 73px;
	}
	&__date {
		font-family: "Proxima Nova";
		font-size: 16px;
		font-weight: 400;
		line-height: 100px;

		span {
			display: inline-block;
			position: relative;

			&:before {
				content: '';
				position: absolute; top: 50%; left: -46px;
				width: 30px; height: 2px;
				background-color: #ffffff;
			}
		}
	}
}
.label {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 44px;
	line-height: 65px;

	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;

	background-color: #1db2ef;
}

/* =============== Blog Videos*/
.blog-videos {
	&__header {
	}
	&__title { text-align: center;

		&:after {
			content: '';
			position: absolute;
			left: 50%;
			transform: translateX( -50% );
		}
	 }
	&__body {
		display: flex;
		margin: 0 -22px;
		margin-bottom: 65px;
	}
	&__item {
		flex: 1 0 auto;
		margin: 0 22px;
	}
	&__footer {
		text-align: center;
	}
}
.title {
}
.blog-video {
	position: relative;
	overflow: hidden;

	&__img {
		width: 100%;
		position: relative;
		font-size: 0;

	}
	&__descr {
		content: '';
		position: absolute; top: 0; left: 0;
		z-index: 5;
		width: 100%; height: 100%;
		padding: 40px;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
		border-radius: 16px;

		font-family: "Proxima Nova Bold";
		font-size: 20px;
		line-height: 27px;
		color: #fff;
		text-align: center;


		span {
			position: relative;	
			top: 500px;
			transition: all 0.3s;
		}

		&:after {
			content: '';
			position: absolute; top: 0; left: 0;
			z-index: -1;
			width: 100%; height: 100%;
			opacity: 0.9;

			border-radius: 16px;
			transition: all 0.3s;
		}

		.video-btn {
			position: absolute;
			// top: 0;left: 0; 
			margin-bottom: 0px; 
			transition: all 0.3s;
		}

		&:hover {
			span { position: relative; top: 0; }
			.video-btn { position: relative; transition: all 0.3s; }
			&:after { background-color: $primary; }
		}

	}
}